<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>519280749652-oahkqjnjl7uf10js009d7vnmfmp4t4ll.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.519280749652-oahkqjnjl7uf10js009d7vnmfmp4t4ll</string>
	<key>API_KEY</key>
	<string>AIzaSyDh64Qq_gDW5sQn_G_vxitU4yjs1Qn5hpc</string>
	<key>GCM_SENDER_ID</key>
	<string>519280749652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.PlanitEats</string>
	<key>PROJECT_ID</key>
	<string>planiteats-87148</string>
	<key>STORAGE_BUCKET</key>
	<string>planiteats-87148.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519280749652:ios:9254747ec3b61477b291c1</string>
</dict>
</plist>